{% extends 'home.html' %}
{% load static %}

{% block content %}
<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">Panel de Control de Flota</h3>
            </div>
        </div>
    </div>
</div>

<div class="app-content">
    <div class="container-fluid">
        <!-- Contenedor para el contenido dinámico -->
        <div id="fleetContent">
            <!-- Cartas principales (visibles por defecto) -->
            <div class="main-dashboard-cards" id="mainCards">
                <div class="dashboard-card card-efx" data-fleet-category="transporte" style="cursor: pointer;">
                    <i class="fas fa-plane card-icon" style="font-size: 48px; color: #00d2ff;"></i>
                    <h2 style="margin-top: 16px; color: #ffffff;">Transporte</h2>
                    <p style="color: #7a8fa3; text-align: center;">Estratégico y Táctico.</p>
                </div>

                <div class="dashboard-card card-efx" data-fleet-category="combate" style="cursor: pointer;">
                    <i class="fas fa-fighter-jet card-icon" style="font-size: 48px; color: #ff5252;"></i>
                    <h2 style="margin-top: 16px; color: #ffffff;">Combate</h2>
                    <p style="color: #7a8fa3; text-align: center;">Cazas-Superioridad Aérea/Operaciones Especiales
                        .</p>
                </div>

                <div class="dashboard-card card-efx" data-fleet-category="ala-rotativa" style="cursor: pointer;">
                    <i class="fas fa-helicopter card-icon" style="font-size: 48px; color: #00e676;"></i>
                    <h2 style="margin-top: 16px; color: #ffffff;">Ala Rotatoria</h2>
                    <p style="color: #7a8fa3; text-align: center;">Táctico y transporte.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'assets/js/dashboard/redirect-dashboard.js' %}"></script>
{% endblock extra_js %}

